
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: chartreuse;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

nav.menu {
    display: flex;
}

nav.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav.menu ul li {
    margin: 0 15px;
}

nav.menu ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

.fondo {
    width: 100%;
}

h1, h2 {
    text-align: center;
}

section {
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea,
button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos del footer se envuelvan en varias líneas */
    position: relative; /* Asegura que el footer se mantenga en el flujo del documento */
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
}

.instagram {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav.menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav.menu.active {
        display: flex;
    }

    nav.menu ul {
        flex-direction: column;
        width: 100%;
    }

    nav.menu ul li {
        text-align: center;
        margin: 10px 0;
    }

    img {
        width: 100%;
    }
}

.fondo {
    width: 100%;
    height: auto;
}

section#acercade {
    text-align: center;
    margin: 20px;
}
